# Ignore Gradle project-specific cache directory
.gradle
.gradle-cache/

# Ignore Gradle build output directory
build
/.claude
/.idea
/.worktrees/
/app/bin
# Environment variables
.env
# IDEA code analysis
qodana.yaml

app/src/main/resources/application-dev.yml
